.container {
  position: fixed;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #272928;
  z-index: 1000;
  top: 0;
}

.options {
  display: flex;
}

.container a {
  margin-right: 30px;
}

.navPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.containerShowMenu {
  display: none;
}

@media (max-width: 500px) {
  .container {
    display: none;
  }

  .containerShowMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #272928;
    top: 0;
    position: fixed;
    z-index: 1000;
  }

  .containerShowMenu svg{
    margin-top: 20px;
    margin-right: 20px;
  }

  .containerMobile {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    padding: 20px;
    background-color: #272928;
    z-index: 1000;
  }

  .containerMobile .options {
    display: flex;
    flex-direction: column;
  }

  .containerMobile a {
    margin-bottom: 15px;
  }

  .navPhoto {
    margin-bottom: 15px;
    margin-top: 35px;
  }

}
